bin
obj
packages

CleanArch.Application/bin/*
CleanArch.Application/obj/*

CleanArch.Domain/bin/*
CleanArch.Domain/obj/*

CleanArch.Infra.CrossCutting/bin/*
CleanArch.Infra.CrossCutting/obj/*

CleanArch.Domain.Tests/bin/*
CleanArch.Domain.Tests/obj/*

CleanArch.Infra.Data/bin/*
CleanArch.Infra.Data/obj/*

CleanArch.WebUI/bin/*
CleanArch.WebUI/obj/*

